
body {
    background-color: #f0f0f0;
}

.btn1 {
    background-color: #043f65;
    color: #f0f0f0;
    border: #043f65;
}

.btn2 {
    background-color: #098342;
    color: #f0f0f0;
    border: #098342;
}

div {
text-align: center;
}

.logo {
    width: 20%;
}

.field-container {
    padding: 3% 7%;
}

.field1, .field2, .field3, .field4, .field5, .field6, .field7 {
    border: solid 0.2rem #043f65;
}

.field8, .field9, .field10, .field11, .field12, .field13 {
    border: solid 0.2rem #098342;
}

.div-style {
    margin: 2% 1%;
    width: 15%;
    height: 5%;
    display: inline-block;
    vertical-align: baseline;
}